
/* Normal desktop :1365px. */
@media (min-width: 1365px) and (max-width: 1600px) {
	.mesud.ozil_menu > ul > li > a {
		margin: 31px 19px 20px;
	}

	.hero-contant h2 {
		font-size: 53px;
		line-height: 57px;
	}

	.hero-contant h1 {
		font-size: 90px;
		line-height: 64px;
	}

	h3.portfolio-title a {
		font-size: 19px;
		margin-bottom: 2px;
	}

	h3.blog-details-title a {
		font-size: 29px;
	}

	.portfolio-details-area {
		padding: 387px 47px 51px;
	}

	.blog-details-area {
		padding: 851px 18px 10px;
	}

	.blog-details-thumb img {
		margin-top: 66px;
	}

}






/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1600px) {

	.mesud.ozil_menu > ul > li > a {
		margin: 31px 10px 20px;
	}

	.hero-contant h1 {
		font-size: 85px;
	}

	.hero-contant h2 {
		font-size: 51px;
		line-height: 54px;
	}

	h3.portfolio-title a {
		font-size: 18px;
		margin-bottom: 3px;
	}

	p.portfolio-text {
		font-size: 14px;
	}

	.owl-next {
		top: -488px;
	}

	.owl-prev {
		top: -488px;
	}

	.brand-title h2::before {
		width: 39%;
	}

	.brand-title h2:after {
		width: 39%;
	}

	h3.blog-details-title a {
		font-size: 28px;
		padding: 12px 0 15px;
	}

	.portfolio-details-area {
		padding: 327px 27px 27px;
	}

	.blog-details-area {
		padding: 851px 18px 10px;
	}

	.blog-details-thumb img {
		margin-top: 114px;
	}





}






/* Normal desktop :1170px. */
@media (min-width: 1170px) and (max-width: 1199px) {
  
	.mesud.ozil_menu > ul > li > a {
		margin: 31px 9px 20px;
	}

	.hero-contant h1 {
		font-size: 74px;
		line-height: 60px;
	}

	.hero-contant h2 {
		font-size: 43px;
		line-height: 48px;
	}

	h3.portfolio-title a {
		font-size: 20px;
		line-height: 27px;
	}

	.portfolio-content {
		padding: 25px 0 25px;
	}

	.blog-single-box {
		padding: 25px 25px 19px 25px;
	}

	h3.blog-title a {
		font-size: 20px;
	}

	h4.blog-text {
		bottom: 123px;
		margin: -1px;
	}

	p.meta-blog-date i {
		font-size: 13px;
		margin-right: 7px;
	}

	p.meta-blog-date {
		font-size: 13px;
	}

	.row.contact_bg {
		padding: 20px 40px 50px;
	}

	.blog-details-area {
		padding: 822px 18px 7px;
	}

	h3.blog-details-title a {
		font-size: 27px;
		padding: 15px 0 15px;
	}

	.portfolio-details-area {
		padding: 345px 27px 31px;
	}

	.blog-details-thumb img {
		margin-top: 86px;
	}




}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {


	.mesud.ozil-btn a {
		font-size: 13px;
		padding: 12px 26px 12px;
	}

	.mesud.ozil_menu > ul > li > a {
		margin: 31px 5px 20px;
		font-size: 11px;
	}

	.hero-contant h1 {
		font-size: 70px;
		line-height: 44px;
	}

	.hero-contant h2 {
		font-size: 42px;
		line-height: 44px;
	}

	.mesud.ozil-btn2 a {
		padding: 12px 26px 12px;
	}

	h3.portfolio-title a {
		font-size: 20px;
		line-height: 27px;
	}

	.portfolio-content {
		padding: 25px 0 25px;
	}

	.blog-single-box {
		padding: 25px 25px 19px 25px;
	}

	h3.blog-title a {
		font-size: 20px;
	}

	h4.blog-text {
		bottom: 123px;
		margin: -1px;
	}

	p.meta-blog-date i {
		font-size: 13px;
		margin-right: 7px;
	}

	p.meta-blog-date {
		font-size: 13px;
	}

	.row.contact_bg {
		padding: 20px 40px 50px;
	}

	.owl-next {
		top: -518px;
	}

	.owl-prev {
		top: -518px;
	}

	.brand-title h2::before {
		width: 38%;
	}

	.brand-title h2:after {
		width: 38%;
	}

	.blog-details-area {
		padding: 690px 18px 7px;
	}

	h3.blog-details-title a {
		font-size: 23px;
		padding: 16px 0 6px;
	}

	.portfolio-details-area {
		padding: 322px 27px 31px;
	}

	.popup-inner {
		width: 80%;
	}

	.blog-details-thumb img {
		margin-top: 129px;
	}




}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

	.mesud.ozil_nav_manu {
		display: none;
	}
	
	.header-top-area {
		display: none;
	}
	
	.sticky {
		padding: 0;
		position: relative !important;
	}
	
	.header-btn {
		display: none;
	}
	
	.sticky .mesud.ozil-btn a {
		display: none;
	}

	.mesud.ozil-btn {
		display: none;
	}

	.hero-area {
		height: 1500px;
		margin-top: -101px;
		background-position: right;
	}

	.hero-contant p {
		font-size: 16px;
		line-height: 28px;
		width: 78%;
	}

	.hero-thumb {
		text-align: left;
		margin-top: 50px;
	}

	h3.blog-title a {
		font-size: 19px;
		line-height: 26px;
	}

	h4.blog-text {
		bottom: 116px;
	}

	.hero-contant h1 {
		font-size: 80px;
		line-height: 70px;
	}

	.hero-contant h2 {
		font-size: 45px;
		line-height: 46px;
	}

	h3.portfolio-title a {
		font-size: 18px;
		margin-bottom: 2px;
	}

	ul.tabs.active li a {
		padding: 15px 27px 15px;
		font-size: 15px;
	}

	.row.upper::before {
		background: transparent;
	}

	.tab-single-box::before {
		background: transparent;
	}

	.tab-single-box:after {
		border: transparent;
	}

	.tab-single-box.two::before {
		background: transparent;
	}


	.tab-single-box.two:after {
		border: transparent;
	}

	.tab-single-box {
		margin: 0 0 30px 0;
	}

	.tab-single-box.two {
		margin: 0 0 30px 0;
	}

	.owl-prev {
		top: -465px;
	}

	.owl-next {
		top: -465px;
	}

	.brand-title h2::before {
		width: 34%;
	}

	.brand-title h2:after {
		width: 34%;
	}

	.blog-single-box {
		padding: 25px 25px 20px 25px;
	}

	.contact-left {
		margin-left: 0;
		margin-top: 40px;
	}

	.form_box input {
		width: 208%;
	}

	p.footer-text {
		text-align: left;
	}

	.blog-details-area {
		padding: 915px 18px 7px;
	}

	h3.blog-details-title a {
		font-size: 20px;
		padding: 0 0 15px;
	}

	span.blog-details-date {
		font-size: 18px;
		padding: 26px 0 10px;
		font-size: 16px;
	}

	.portfolio-details-area {
		padding: 460px 27px 31px;
	}

	.popup-inner {
		width: 80%;
	}




}



/* Large Mobile :600px. */
@media only screen and (min-width: 600px) and (max-width: 767px) {

.mesud.ozil_nav_manu {
    display: none;
}

.mesud.ozil-btn {
    margin-left: 19px;
    display: none;
}

.header-top-area {
    display: none;
}

.sticky {
	padding: 0;
	position: relative !important;
}

.header-btn {
	display: none;
}

.sticky .mesud.ozil-btn a {
	display: none;
}

.hero-area {
	height: 1500px;
	margin-top: -101px;
	background-position: right;
}

.hero-contant p {
	font-size: 16px;
	line-height: 28px;
	width: 78%;
}

.hero-thumb {
	text-align: left;
	margin-top: 50px;
}

.hero-contant h1 {
	font-size: 80px;
	line-height: 70px;
}

.hero-contant h2 {
	font-size: 45px;
	line-height: 46px;
}

h3.portfolio-title a {
	font-size: 18px;
	margin-bottom: 2px;
}

ul.tabs.active li a {
    padding: 7px 14px 7px;
    font-size: 13px;
}

ul.tabs.active {
    margin-bottom: 59px;
}

.row.upper::before {
	background: transparent;
}

.tab-single-box::before {
	background: transparent;
}

.tab-single-box:after {
	border: transparent;
}

.tab-single-box.two::before {
	background: transparent;
}


.tab-single-box.two:after {
	border: transparent;
}

.tab-single-box {
	margin: 0 0 30px 0;
}

.tab-single-box.two {
	margin: 0 0 30px 0;
}

.owl-prev {
	display: none;
}

.owl-next {
	display: none;
}

.brand-title h2::before {
    width: 28%;
}

.brand-title h2:after {
	width: 28%;
}

.contact-left {
	margin-left: 0;
	margin-top: 40px;
}

.form_box input {
    width: 100%;
}

p.footer-text {
	text-align: left;
}

h1.section-main-title {
    font-size: 38px;
}

.section-title.text-left {
    margin-bottom: 45px;
}

h4.blog-text {
    bottom: 95px;
}

h3.blog-title a {
    font-size: 17px;
}

.row.contact_bg {
    padding: 8px 26px 43px;
}

.blog-details-area {
    padding: 1006px 18px 7px;
}

h3.blog-details-title a {
    font-size: 23px;
    padding: 0 0 15px;
}

span.blog-details-date {
	font-size: 18px;
	padding: 26px 0 10px;
	font-size: 16px;
}

.popup-inner {
    width: 86%;
}

.portfolio-details-area {
    padding: 499px 27px 31px;
}

}






/* small mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 599px) {

.mesud.ozil_nav_manu {
    display: none;
}

.mesud.ozil-btn {
    margin-left: 19px;
    display: none;
}

.header-top-area {
    display: none;
}

.sticky {
	padding: 0;
	position: relative !important;
}

.header-btn {
	display: none;
}

.sticky .mesud.ozil-btn a {
	display: none;
}

.hero-area {
	height: 1500px;
	margin-top: -101px;
	background-position: right;
}

.hero-contant p {
    font-size: 16px;
    line-height: 28px;
    width: 82%;
}

.hero-thumb {
	text-align: left;
	margin-top: 50px;
}

.hero-contant h1 {
    font-size: 75px;
    line-height: 59px;
}

.hero-contant h2 {
    font-size: 41px;
    line-height: 41px;
}

h3.portfolio-title a {
	font-size: 18px;
	margin-bottom: 2px;
}

ul.tabs.active li a {
    padding: 12px 14px 12px;
    font-size: 15px;
}

ul.tabs.active li {
    margin-bottom: 20px;
}

ul.tabs.active {
    margin-bottom: 32px;
}

p.tab-descrip {
    font-size: 14px;
}

.row.upper::before {
	background: transparent;
}

.tab-single-box::before {
	background: transparent;
}

.tab-single-box:after {
	border: transparent;
}

.tab-single-box.two::before {
	background: transparent;
}


.tab-single-box.two:after {
	border: transparent;
}

.tab-single-box {
	margin: 0 0 30px 0;
}

.tab-single-box.two {
	margin: 0 0 30px 0;
}

.owl-prev {
	display: none;
}

.owl-next {
	display: none;
}

.brand-title h2::before {
    width: 26%;
}

.brand-title h2:after {
	width: 26%;
}

.blog-area h1.section-main-title {
    font-size: 30px;
    line-height: 34px;
}

.section-title.text-center {
    margin-bottom: 50px;
}

.blog-single-box {
    padding: 25px 25px 21px 25px;
}

.contact-left {
	margin-left: 0;
	margin-top: 40px;
}

.form_box input {
    width: 100%;
}

p.footer-text {
	text-align: left;
}

h1.section-main-title {
    font-size: 30px;
    line-height: 16px;
}

h5.section-sub-title {
    font-size: 14px;
}

.section-title.text-left {
    margin-bottom: 45px;
}

h4.blog-text {
    bottom: 95px;
}

h3.blog-title a {
    font-size: 17px;
}

.row.contact_bg {
    padding: 8px 26px 43px;
}

.hero-thumb img {
    width: 100%;
}

.blog-details-area {
    padding: 1199px 18px 7px;
}

h3.blog-details-title a {
    font-size: 18px;
    padding: 18px 0 8px;
}

span.blog-details-date {
    font-size: 18px;
    padding: 26px 0 0;
    font-size: 16px;
}

.popup-inner {
    width: 86%;
}

.portfolio-details-area {
    padding: 581px 27px 31px;
}


}





/* small mobile :320px. */
@media only screen and (min-width: 320px) and (max-width: 479px) {

.mesud.ozil_nav_manu {
    display: none;
}

.mesud.ozil-btn {
    display: none;
}

.header-top-area {
    display: none;
}

.sticky {
	padding: 0;
	position: relative !important;
}

.header-btn {
	display: none;
}

.sticky .mesud ozil-btn a {
	display: none;
}

.hero-area {
    height: 1271px;
    margin-top: -101px;
    background-position: right;
}

.hero-contant p {
    font-size: 16px;
    line-height: 28px;
    width: 100%;
    padding: 10px 0 26px;
}

.mesud.ozil-btn2 {
    margin-top: 10px;
}

.hero-thumb img {
    width: 100%;
}

.hero-thumb {
	text-align: left;
	margin-top: 50px;
}

.hero-contant h1 {
    font-size: 45px;
    line-height: 17px;
}

.hero-contant h2 {
    font-size: 29px;
    line-height: 32px;
}

h3.portfolio-title a {
	font-size: 18px;
	margin-bottom: 2px;
}

ul.tabs.active li a {
    padding: 12px 14px 12px;
    font-size: 15px;
}

ul.tabs.active li {
    margin-bottom: 20px;
}

ul.tabs.active {
    margin-bottom: 32px;
}

p.tab-descrip {
    font-size: 14px;
}

.row.upper::before {
	background: transparent;
}

.tab-single-box::before {
	background: transparent;
}

.tab-single-box:after {
	border: transparent;
}

.tab-single-box.two::before {
	background: transparent;
}


.tab-single-box.two:after {
	border: transparent;
}

.tab-single-box {
    margin: 0 0 30px 0;
    padding: 21px 20px 20px;
}

.skills-single-box.two {
    padding: 0 0 0 22px;
    margin: 0 0 40px;
}

.row.tab {
    padding: 42px 0 0;
}

span.prosses-bar {
    font-size: 14px;
    padding: 10px 0 13px 0;
}

.barfiller .tip {
    top: -35px;
    font-size: 14px;
    padding: 0px 11px 0px;
    margin-left: -22px;
}

h3.tab-title {
    font-size: 16px;
}

.testimonial-single-box {
    padding: 25px 24px 32px;
}

p.testi-descrip {
    padding: 13px 0 6px;
}

.testimonial-icon{
    display: none;
}

h4.tab-text {
    font-size: 14px;
    padding: 18px 0 12px;
}

.tab-single-box.two {
	margin: 0 0 30px 0;
}

.owl-prev {
	display: none;
}

.owl-next {
	display: none;
}

.brand-title h2::before {
    width: 0;
}

.brand-title h2:after {
	width: 0;
}

.blog-area h1.section-main-title {
    font-size: 21px;
    line-height: 26px;
}

p.meta-blog-date {
    font-size: 13px;
    padding: 21px 0 6px;
}

p.meta-blog-date i {
    font-size: 12px;
    margin-right: 6px;
}

.section-title.text-center {
    margin-bottom: 50px;
}

.blog-single-box {
    padding: 25px 25px 21px 25px;
}

.contact-left {
	margin-left: 0;
	margin-top: 40px;
}

.form_box input {
    width: 100%;
}

p.footer-text {
	text-align: left;
}

h1.section-main-title {
    font-size: 19px;
    line-height: 0;
}

h5.section-sub-title {
    font-size: 14px;
}

h3.portfolio-title a {
    font-size: 16px;
    margin-bottom: 2px;
}

.portfolio-content {
    padding: 15px 0 15px;
}

.tab-area h1.section-main-title {
    font-size: 28px;
    line-height: 14px;
}

h3.service-title {
    padding: 35px 0 17px;
}

.section-title.text-left {
    margin-bottom: 45px;
}

h4.blog-text {
    bottom: 110px;
}

.mesud.ozil-btn2 a {
    padding: 13px 42px 13px;
}

.contact-area h1.section-main-title {
    font-size: 28px;
    line-height: 20px;
}

p.contact-desrip {
    padding: 20px 0 0;
}

h3.blog-title a {
    font-size: 17px;
    line-height: 27px;
}

.row.contact_bg {
    padding: 8px 26px 43px;
}

.blog-details-area {
    padding: 1520px 10px 0;
}
h3.blog-details-title a {
    font-size: 13px;
    padding: 11px 0 8px;
    line-height: 18px;
}

span.blog-details-date {
    font-size: 15px;
    padding: 19px 0 0;
}

.popup-inner {
    width: 86%;
}

p.blog-details-descrip {
    font-size: 14px;
}

p {
    font-size: 14px;
}

.portfolio-details-area {
    padding: 660px 10px 17px;
}



}



